<!-- start the search button -->
<section
  id="searchButton"
  class="flex z-60 transition transform hover:-rotate-12 ml-auto sm:mr-1 md:mr-2"
>
  <button
    aria-label="Toggle Search"
    type="button"
    class="flex items-center text-pink-heading justify-center w-10 h-10 bg-white rounded-full shadow-sm dark:bg-white"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6 cursor-pointer search text-pink-heading/80 dark:text-pink-heading"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
      />
    </svg>
  </button>
</section>
