<header id="mainHeading" class="text-center">
  <h1
    class="mt-5 text-5xl leading-[1.25] subpixel-antialiased font-extrabold font-navigation tracking-tight text-transparent bg-clip-text md:text-6xl drop-shadow-lg bg-linear-to-br from-indigo-400 to-pink-600">
    All Things Digital
  </h1>
  <h2 id="subHeading"
    class="text-shadow-2xs mt-3 mb-3 text-xl subpixel-antialiased font-bold leading-tight text-center md:font-extrabold md:text-3xl text-slate-600/90 dark:text-white">
    Data Driven Marketing, Machine Learning, Growth Hacking and Everything Sit in Between.
  </h2>
</header>
