<header class="text-center">
  <h1 id="mainHeading"
    class="py-3 text-7xl subpixel-antialiased font-extrabold tracking-tight text-transparent md:text-6xl drop-shadow-lg font-navigation bg-linear-to-br from-indigo-400 to-pink-600 bg-clip-text">
    Get in touch!
  </h1>
  <h2 id="subHeading"
    class="text-xl subpixel-antialiased font-bold leading-tight text-center font-navigation md:font-extrabold md:text-3xl drop-shadow-lg text-slate-700/60 dark:text-white">
    It's rather an old school method to reach out, but at least they're being transmitted using encryption.
  </h2>
</header>
