<main class="max-w-3xl p-3 mx-auto">
  <!-- Main Heading (Semantic: <header> for introductory content) -->

  <header id="mainHeading" class="text-center">
    <h1
      class="py-3 text-5xl subpixel-antialiased font-extrabold tracking-tight text-transparent md:text-6xl drop-shadow-lg font-navigation bg-gradient-to-br from-indigo-400 to-pink-600 bg-clip-text">
      All Thing<span class="rotate-45">s</span> Digital
    </h1>
    <h2 id="subHeading"
      class="p-1 text-xl font-bold leading-tight text-center md:font-extrabold md:text-3xl drop-shadow-lg text-slate-700/60 dark:text-white">
      Data Driven Marketing, Machine Learning, Growth Hacking and Everything Sit in Between.
    </h2>
  </header>
  <%- include('content/content-featured-post.html') %>
  <!-- Blog Section (Semantic: <section> for thematic grouping) -->
  <section class="max-w-3xl p-3 mx-auto">

    <header class="p-3">
      <h2
        class="p-1 text-4xl subpixel-antialiased font-extrabold tracking-tight text-transparent drop-shadow-xl font-navigation bg-gradient-to-br from-indigo-400 to-pink-600 bg-clip-text">
        Latest Blog
      </h2>
      <p class="text-base text-left font-navigation text-slate-700 dark:text-white">
        The latest from the blog, where I would normally document my experiments and findings over certain cutting edge
        new web technology & ran through couple of pitfall, so you won't have to.
      </p>
    </header>
    <%- include('content/content-blog-grid.html') %>
  </section>
</main>
