<section
  class="mx-auto my-10 flex max-w-3xl flex-col items-center border-t dark:border-slate-800/60"
>
  <div
    class="mx-auto -mt-10 flex max-w-xs overflow-hidden pt-5 opacity-80 drop-shadow-sm grayscale"
  >
    <img
      src="./img/icons/logo-footer.png"
      width="35"
      height="35"
      alt="bottom-logo"
    />
  </div>
  <div class="mt-5">
    <ul
      class="mx-auto flex max-w-screen-md flex-wrap justify-between font-navigation text-sm text-slate-400"
    >
      // ... existing footer links ...
    </ul>
  </div>
</section>
