<header id="wrapperNavBar"
  class="sticky top-0 z-10 bg-white px-4 py-[25px] md:px-[25px] drop-shadow-xl backdrop-blur-lg dark:bg-main dark:drop-shadow-2xl dark:border-b dark:border-slate-900/20">
  <div id="NavBar" class="flex justify-between max-w-4xl mx-auto my-auto blurGrad">
    <div id="logo" class="z-40 drop-shadow-sm overflow-x-hidden">
      <a href="/">
        <img src="./assets/img/icons/icon-dgpondcom.png" alt="Logo" id="DGPond" class="w-auto h-auto max-w-full">
      </a>
    </div>
    <%- include('components/nav-desktop.html') %>
    <%- include('components/nav-mobile.html') %>
  </div>
</header>
