/* start the google fonts import class */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap")
layer(base);

/* start the tailwind import class */
@import "tailwindcss";

/* start the tailwind plugin */
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

/* start the tailwind dark-mode targeting */
@custom-variant dark (&:is(.dark *));

@theme {
  /* start the viewport breakpoints */
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;

  /* start the fonts collection */
  --font-*: initial;
  --font-navigation: Poppins, sans-serif;

  /* start the animation collection */
  --animate-blob: blob 7s infinite;

  /* start the custom color collection */
  --color-savory-white: hsl(0, 36%, 95%);
  --color-muted-white: hsl(224, 16%, 54%);
  --color-white-hover: hsl(0, 36%, 95%);
  --color-pink-heading: hsl(279, 48%, 54%);
  --color-pink-sub-heading: hsl(293, 43%, 55%);
  --color-black-sub-heading: hsl(221, 39%, 11%);
  --color-deep-blue-sub-heading: hsl(229, 38%, 40%);

  /* start the custom color fuchsia collection */
  --color-fuchsia-50: #fdf4ff;
  --color-fuchsia-100: #fae8ff;
  --color-fuchsia-200: #f5d0fe;
  --color-fuchsia-300: #f0abfc;
  --color-fuchsia-400: #e879f9;
  --color-fuchsia-500: #d946ef;
  --color-fuchsia-600: #c026d3;
  --color-fuchsia-700: #a21caf;
  --color-fuchsia-800: #86198f;
  --color-fuchsia-900: #701a75;
  --color-fuchsia-950: #4a044e;

  /* start the background-color, so may call them with `bg-main` in your html */
  --background-color-postcard: hsl(215, 45%, 14%);

  /* start the postcard-background-color, so may call them with `bg-postcard` in your html */
  --background-color-main: hsl(212, 48%, 11%);

  /* start the tailwind animation */
  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(30px, -50px) scale(1.1);
    }
    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }
    100% {
      transform: tranlate(0px, 0px) scale(1);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

.display-none {
  @apply hidden;
}

:root {
  /* Colors */
  --bkg: 222 47.4% 11.2%;
  --bkg-alt: 226 58.3% 18.8%;
  --text: 226 100% 93.9%;
  --text-alt: 226 22.1% 73.3%;
  --muted: 230 39% 67.8%;
  --white: 255 100% 100%;
  --accent1: 241 76.8% 62.7%;
  --accent2: 330 85.2% 60.4%;
  --accent3: 0 90.6% 70.8%;
  --gradient: linear-gradient(
    94.55deg,
    hsl(var(--accent2)) -4.6%,
    hsl(var(--accent3)) 99.9%
  );
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: hsl(279, 48%, 54%);
  transform: rotate(0);
  transition: all 0.5s;
}
.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}
.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}
.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .hamburger-middle {
  display: none;
}
.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/*
Custom Styles
 */

.blurGrad {
  position: relative;
}

.blurGrad::after,
.blurGrad::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -10;
  filter: blur(35px);
  border-radius: 10% 10% 10%;
}

.blurGrad::after {
  background-color: hsl(var(--accent1) / 0.2);
  transform: rotate(-20deg);
}

.blurGrad::before {
  background-color: hsl(var(--accent2) / 0.2);
  transform: rotate(20deg);
}

@media screen (max-width: 480px) {
  .blurGrad::after,
  .blurGrad::before {
    filter: blur(20px);
  }
}
