<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../main.css" />
    <title>Document</title>
  </head>
  <body class="scroll-smooth bg-white antialiased dark:bg-main">
    <!-- Header will be inserted here -->
    {{> ../components/Header.html }}

    <!-- Navigation will be inserted here -->
    {{> ../components/Navigation.html }}

    <!-- Main content will be inserted here -->
    <main>{{> ../components/Content.html }}</main>

    <!-- Footer will be inserted here -->
    {{> ../components/Footer.html }}
  </body>
</html>
